@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-triangle {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 88%,   /* sides higher = sharper angle */
    50% 100%,   /* tip */
    0 88%
  );
}